{% extends "base.html" %}

{% block main_heading %}<a class="title" href="{{ SITEURL }}">{{ SITENAME }}</a>{% endblock %}

{% block content %}
    <header>
        <h1 class="entry-title"><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h1>
    </header>
    <div class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
        </abbr>
        {% if article.author %}
        <p class="vcard author">
            By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </p>
        {% endif %}
    </div><!-- /.post-info -->
    <div class="entry-content">
    {{ article.content }}
    </div><!-- /.entry-content -->
    {% include '_comments.html' %}
{% endblock %}



{% block extra_js %}
{% include '_disqus.html' %}
{% endblock %}
